.highlighted {
  font-weight: 300;
  font-style: italic;
  cursor: pointer;
  position: relative;
  padding: 5px;
  padding-left: 18px;
  line-height: 1.5;
  transition: font-weight 1s fade out;
}

.highlighted:hover {
 font-weight: bolder;
}

/* Estilo para el icono */
.highlight-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url("chrome-extension://__MSG_@@extension_id__/assets/logo/start.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 0%;
  top: 45%;
  transform: translateY(-50%);
  vertical-align: middle;
}
