@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --primary-color: #ffffff;
  --btn-background-color: #3a3ec7;
  --btn-text-color: #ffffff;
  --text-color: black;
  --link-color: #ffffff;
  --logo-width: 120px;
  --logo-height: auto;
  --logo-margin-right: 10px;
  --border-radius: 24px;
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

body.dark-mode {
  --primary-color: #3a3ec7;
  --text-color: #ffffff;
  --btn-background-color: #ffffff;
  --btn-text-color: #3a3ec7;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--primary-color);
  transition: 0.4s;
  border-radius: 24px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: white;
}

input:checked + .slider:before {
  transform: translateX(16px);
  background-color: #ffc107;
}

body.dark-mode input:checked + .slider:before {
  background-color: #ffd700;
}

body.dark-mode .slider {
  background-color: var(--primary-color);
}

body.dark-mode .slider:before {
  background-color: white;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
  color: var(--text-color);
  width: 400px;
}

h1 {
  font-size: 24px;
  color: var(--text-color);
  border-bottom: 2px solid var(--primary-color);
}

p {
  font-size: 15px;
  line-height: 1.5;
  margin: 5px 0;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 96%;
  background-color: black;
  height: 1px;
}

header {
  text-align: center;
  width: 100%;
}

nav ul {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  list-style: none;
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: var(--text-color);
}

#extension-icon {
  height: var(--logo-height);
  width: var(--logo-width);
  margin-right: var(--logo-margin-right);
  vertical-align: middle;
}

.btn {
  border: none;
  text-transform: uppercase;
  background-color: #333;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 10px 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: var(--box-shadow);
  color: var(--btn-text-color);
  background-color: var(--btn-background-color);
}

.btn:hover {
  background-color: #555;
}

.btn:active {
  background-color: #111;
}

#current-text {
  color: var(--text-color);
}

#highlight {
  display: none;
}

#what-is-container {
  display: none; /* flex */
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  color: var(--text-color);
}

#what-is {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.clamp {
  -webkit-line-clamp: 5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

#logo {
  width: 90px;
  height: 90px;
  border-radius: var(--border-radius);
  object-fit: cover;
  box-shadow: var(--box-shadow);
}

.texto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5px 0;
}

#results {
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}

#product_deals {
  padding: 10px;
  margin: 25px;
  background-color: var(--primary-color);
}

#product_deals_title {
  font-size: 20px;
  font-weight: 600;
  color: var(--text-color);
  margin-bottom: 15px;
  border-bottom: 2px solid var(--primary-color);
  padding-bottom: 10px;
}

#product_deals_discount,
#product_deals_claim_details,
#product_deals_offer_details {
  font-size: 15px;
  color: var(--text-color);
  margin: 10px 0;
}

#product_pricing_plans {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-transform: uppercase;
}

#product_pricing_plans .plan {
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  transition: transform 0.2s;
}

#product_pricing_plans .plan h3 {
  font-size: 18px;
  color: var(--text-color);
  margin: 5px 0;
}

#product_pricing_plans .plan p {
  font-size: 14px;
  color: var(--text-color);
  margin: 5px 0;
}

#product-data {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 15px;
  border-radius: 25px;
  width: 100%;
}

#star-distribution {
  display: none;
}

#rating,
#numReviews,
#reviewerNotes {
  margin: 5px 0;
  padding: 2px 0;
  font-weight: 500;
  color: var(--text-color);
  font-weight: bold;
}

.rating-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  flex-direction: row;
}

#logo {
  width: 90px;
  height: 90px;
  border-radius: 25px;
}

#face {
  width: 50px;
  height: 50px;
  padding: 10px;
  border-radius: 50%;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 8px;
  background: #ddd;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  background: var(--primary-color);
  cursor: pointer;
  border-radius: 50%;
}

label {
  font-size: 14px;
  margin-right: 5px;
  color: var(--text-color);
  font-weight: 300;
}

.star-bar-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.star-bar-container label,
.star-bar-container input,
.star-bar-container span {
  margin-bottom: 2px;
}

/* REVIEWS */

#product-reviews {
  max-width: 800px;
  padding: 10px;
  background-color: var(--background-color);
  display: none;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}

#best-review,
#worst-review {
  margin-bottom: 10px;
  padding: 20px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

#best-review p,
#worst-review p {
  margin: 10px 0;
}

#best-review_title,
#worst-review_title {
  font-weight: bold;
  font-size: 20px;
  color: var(--text-color);
}

#best-review_rating,
#worst-review_rating {
  font-weight: bold;
  font-size: 32px;
  font-style: italic;
  color: var(--text-color);
}

#best-review_content,
#worst-review_content {
  font-size: 12px;
  color: var(--text-color);
}

#best-review_date,
#worst-review_date {
  font-size: 14px;
  color: var(--text-color);
}

#best-reviewer_name,
#worst-reviewer_name,
#best-reviewer_company-size,
#worst-reviewer_company-size {
  font-size: 14px;
  color: var(--text-color);
}

// LOGIN - REGISTER
